.header{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.header h1{
    margin: 0;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}